<!DOCTYPE html>
<html>
<head>
	<title>WebTaco ~~Baby</title>
</head>
<body>
<h1><%= name %> loves butts</h1>

<form>
	<input type='text' name='email' placeholder='what is your email?'>
	<input type='submit' value='subscribe'>
</form>

</body>
</html>
